{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'layouts/partials/head.html' %}
  <body>
    <section id="main" class="subpage">
        {% include 'layouts/partials/header.html' %}

        {% block menu %}
        <section class="menu">
            <div id="navigation" class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="menu menu1 row sf-menu clearfix">
                            <li class="nav1 span3">
                                <a href="{% url 'team' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-users"></i></span>
                                    <span class="txt1">Equipo y Empresa</span>
                                </a>
                            </li>
                            <li class="nav2 active span3">
                                <a href="{% url 'goals' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-bullseye"></i></span>
                                    <span class="txt1">Objetivos</span>
                                </a>
                            </li>
                            <li class="nav3 span3">
                                <a href="{% url 'tools' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-tools"></i></span>
                                    <span class="txt1"><p>Sprint 1</p></span>
                                    <span class="txt2">Herramientas</span>
                                </a>
                            </li>
                            <li class="nav4 span3">
                                <a href="{% url 'dictionary' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-database"></i></span>
                                    <span class="txt1"><p>Sprint 1</p></span>
                                    <span class="txt2">Diccionario y Análisis exploratorio</span>
                                </a>
                            </li>
                        </ul>

                        <!-- Sobreescribir el slider solo para goals.html -->
                        <div class="slider_wrapper">goals
                            <div class="row">
                                <div class="span3">
                                    <div class="logo2">
                                        <a>
                                            <img class="logo-politecnico" src="{% static 'images/politecnico.jpg' %}" alt="Politécnico Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="span9">
                                    <div id="slider" class="clearfix">
                                        <div id="camera_wrap">
                                   <div data-src="{% static 'images/index1.jpg' %}"></div>
                                   <div data-src="{% static 'images/index2.jpg' %}"></div>
                                   <div data-src="{% static 'images/index3.jpg' %}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de la personalización del slider -->

                        {% block menu2 %}
                        <ul class="menu menu2 row sf-menu clearfix">
                            <li class="nav5 span3 sub-menu sub-menu-1">
                                <a href="{% url 'etl' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-exchange-alt"></i></span>
                                    <span class="txt1"><p>Sprint 2</p></span>
                                    <span class="txt2">Combinación de Datos y Proceso ETL</span>
                                </a>
                            </li>
                            <li class="nav6 span3 sub-menu sub-menu-1">
                                <a href="{% url 'datawork' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-chart-bar"></i></span>
                                    <span class="txt1"><p>Sprint 2</p></span>
                                    <span class="txt2">Datos de trabajo y Visualización</span>
                                </a>
                            </li>
                            <li class="nav7 span3 sub-menu sub-menu-1">
                                <a href="{% url 'findings' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-check-circle"></i></span>
                                    <span class="txt1"><p>Sprint 3</p></span>
                                    <span class="txt2">Hallazgos y Evaluación de resultados</span>
                                </a>
                            </li>
                            <li class="nav8 span3">
                                <a href="{% url 'conclusion' %}">
                                    <span class="over1"></span><span class="over2"></span>
                                    <span class="ic1"><i class="fas fa-flag-checkered"></i></span>
                                    <span class="txt1"><p>Conclusión</p></span>
                                </a>
                            </li>
                        </ul>
                        {% endblock menu2 %}
                    </div>
                </div>
            </div>
        </section>
        {% endblock menu %}

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="obj-section">
                        <h1 class="section-title">Objetivos del Proyecto</h1>
                        <div class="thumb7">
                            <div class="thumbnail clearfix">
                                <figure>
                                    <img class="img-obj" src="{% static 'images/objetivos.webp' %}" alt="Objetivos del Proyecto" />
                                </figure>
                                <div class="caption">
                                    <h2>Objetivo General</h2>
                                    <p class="txt-obj">
                                        Analizar los datos de producción proporcionados por Lenga Patagonia S.A. para evaluar la calidad de la madera
                                        extraída en distintas temporadas y áreas de explotación, con el fin de identificar patrones de calidad que permitan
                                        optimizar la gestión forestal y productiva.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="line1"></div>

                        <h2>Objetivos Específicos</h2>

                        <div class="accordion" id="accordion1">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                        Implementar un proceso de ETL
                                    </a>
                                </div>
                                <div id="collapse1" class="accordion-body collapse">
                                    <div class="accordion-inner txt-obj">
                                        Integrar y limpiar los datos de producción, asegurando su calidad y usabilidad en los análisis. Este proceso es
                                        clave para garantizar que la información proporcionada sea precisa y pueda ser utilizada para tomar decisiones
                                        estratégicas.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                                        Analizar la relación entre la calidad de la madera y las variables ambientales
                                    </a>
                                </div>
                                <div id="collapse2" class="accordion-body collapse">
                                    <div class="accordion-inner txt-obj">
                                        Explorar la influencia de factores como la temporada y la ubicación geográfica de la extracción en la calidad de la
                                        madera, con el fin de identificar patrones que permitan mejorar la producción.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                                        Automatizar la generación de reportes
                                    </a>
                                </div>
                                <div id="collapse3" class="accordion-body collapse">
                                    <div class="accordion-inner txt-obj">
                                        Crear reportes interactivos y automáticos en Power BI sobre el rendimiento y la calidad de la madera para facilitar
                                        una toma de decisiones eficiente y basada en datos.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse4">
                                        Identificar áreas de mejora en la cadena de suministro y gestión operativa
                                    </a>
                                </div>
                                <div id="collapse4" class="accordion-body collapse">
                                    <div class="accordion-inner txt-obj">
                                        Utilizar análisis predictivos basados en patrones históricos de calidad de la madera para optimizar la cadena de
                                        suministro y mejorar la gestión operativa de Lenga Patagonia S.A.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            {% include 'layouts/partials/footer.html' %}
    </section>
  </body>
</html
