{% load static %}
<section class="menu">
    <div id="navigation" class="container">
        <div class="row">
            <div class="span12">
               {% block menu1 %}
                <ul class="menu menu1 row sf-menu clearfix">
                    <li class="nav1 span3">
                        <a href="{% url 'team' %}">
                            <span class="over1"></span><span class="over2"></span>
                            <span class="ic1"><i class="fas fa-users"></i></span>
                            <span class="txt1">Equipo y Empresa</span>
                        </a>
                    </li>
                    <li class="nav2 span3">
                        <a href="{% url 'goals' %}">
                            <span class="over1"></span><span class="over2"></span>
                            <span class="ic1"><i class="fas fa-bullseye"></i></span>
                            <span class="txt1">Objetivos</span>
                        </a>
                    </li>
                    <li class="nav3 span3">
                        <a href="{% url 'tools' %}">
                            <span class="over1"></span><span class="over2"></span>
                            <span class="ic1"><i class="fas fa-tools"></i></span>
                            <span class="txt1"><p>Sprint 1</p></span>
                            <span class="txt2">Herramientas</span>
                        </a>
                    </li>
                    <li class="nav4 span3">
                        <a href="{% url 'dictionary' %}">
                            <span class="over1"></span><span class="over2"></span>
                            <span class="ic1"><i class="fas fa-database"></i></span>
                            <span class="txt1"><p>Sprint 1</p></span>
                            <span class="txt2">Diccionario y Análisis exploratorio</span>
                        </a>
                    </li>
               </ul>
               {% endblock menu1 %}

               {% block slider %}
<div class="slider_wrapper">
    <div class="row">
        <div class="span3">
            <div class="logo2">
                <a>
                    <img class="logo-politecnico" src="{% static 'images/politecnico.jpg' %}" alt="Politécnico Logo">
                </a>
            </div>
        </div>
        <div class="span9">
            <div id="video-container" class="clearfix">
                <video autoplay loop muted controls width="100%" style="border-radius: 8px;">
                    <source src="{{ MEDIA_URL }}video-lenga1.mp4" type="video/mp4">
                    <!-- Texto alternativo si el navegador no soporta el video -->
                    Tu navegador no soporta la reproducción de video.
                </video>
            </div>
        </div>
    </div>
</div>

               {% endblock slider %}

               {% block menu2 %}
               <ul class="menu menu2 row sf-menu clearfix">
                   <li class="nav5 span3 sub-menu sub-menu-1">
                       <a href="{% url 'etl' %}">
                           <span class="over1"></span><span class="over2"></span>
                           <span class="ic1"><i class="fas fa-exchange-alt"></i></span>
                           <span class="txt1"><p>Sprint 2</p></span>
                           <span class="txt2">Combinación de Datos y Proceso ETL</span>
                       </a>
                   </li>
                   <li class="nav6 span3 sub-menu sub-menu-1">
                       <a href="{% url 'datawork' %}">
                           <span class="over1"></span><span class="over2"></span>
                           <span class="ic1"><i class="fas fa-chart-bar"></i></span>
                           <span class="txt1"><p>Sprint 2</p></span>
                           <span class="txt2">Datos de trabajo y Visualización</span>
                       </a>
                   </li>
                   <li class="nav7 span3 sub-menu sub-menu-1">
                       <a href="{% url 'findings' %}">
                           <span class="over1"></span><span class="over2"></span>
                           <span class="ic1"><i class="fas fa-check-circle"></i></span>
                           <span class="txt1"><p>Sprint 3</p></span>
                           <span class="txt2">Hallazgos y Evaluación de resultados</span>
                       </a>
                   </li>
                   <li class="nav8 span3">
                       <a href="{% url 'conclusion' %}">
                           <span class="over1"></span><span class="over2"></span>
                           <span class="ic1"><i class="fas fa-flag-checkered"></i></span>
                           <span class="txt1"><p>Conclusión</p></span>
                       </a>
                   </li>
               </ul>
               {% endblock menu2 %}
            </div>
        </div>
    </div>
</section>
